<!DOCTYPE html>
<htmlxmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>HR application</title>
</head>
<body>
	<h1>List of Employees</h1>
	
	<ul>
		<li th:each="employee : ${employees}">
			<span th:text="${employee.id}">id</span >
			<span th:text="${employee.name}">name</span >
			<span th:text="${employee.title}">title</span >
			<span th:text="${employee.monthlySalary}">monthlySalary</span >
			<span th:text="${employee.beginningOfEmployment}">beginningOfEmployment</span >
		</li >
	</ul>
	
	<form th:action="@{/employees}" method="POST" th:object="${newEmployee}">
		Id: <input th:field="*{id}" /> <br/>
		Name: <input th:field="*{name}" /> <br/>
		Title: <input th:field="*{title}" /> <br/>
		Salary: <input th:field="*{monthlySalary}" /> <br/><br/>
		Beginning of employment: <br/>
			Year:<input th:name="year" /> <br/>
			Month:<input th:name="month" /> <br/>
			Day:<input th:name="day" /> <br/>
			
		<input type="submit" value="Add" />
	</form >
	
</body>
</html >